<%= form_for @activities do |f| %>
  <% @activities.each do |activity| %>
     <div>
        <%= activity.name %>
        <%= activity.acttype %>
        <%= activity.duration %>
        <%= activity.initialTime %>
        <%= activity.place %>
        <%= activity.gpx %>
        <%= activity.user.profile.name %>
     </div>
  <% end %>
<% end %>