<h1>Dashboard</h1>

<%= render partial: "show", locals: { profile: @profile } %>

<% @activities.each do |activity| %>
    <div>
      <%= activity.name %>
      <%= activity.acttype %>
      <%= activity.duration %>
      <%= activity.initialTime %>
      <%= activity.place %>
      <%= activity.gpx %>
      <%= activity.user.profile.name %>
    </div>
<% end %>
