<header>
  <%= render 'menu' %>
</header>

<ul class="profile">
    <%= render partial: "show", locals: { profile: @profile } %>
</ul>

<div id="allActivities" name="allActivities" class ="allActivities">
<% @activities.each do |activity| %>
    <div>
          <ul class="activity">
            <p1>
              <li><%= activity.user.profile.name %></li>
            </p1>
            <ul class="details">
              <li><%= activity.place %></li> no dia
              <li><%= activity.initialTime %></li> durante
              <li><%= activity.duration %></li>h
            </ul>
            <p2>
              <li><%= activity.gpx %></li>
            </p2>
            <ul class="actdetails">
              <li><%= activity.name %></li> -
              <li><%= activity.acttype%></li>
            </ul>
          </ul>
    </div>
<% end %>
</div>
